# Dependencies
node_modules/

# Environment variables
.env

#old copy 
server copy.js

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Uploads
uploads/

# Temporary files
tmp/
temp/